<!DOCTYPE html>
<html lang="en">
<head id="headId" />
<body>
    <nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>

    <div align="center">
        <h1 id="game-title">Guess the Number Game</h1>
        <h2 id="over">Game Over</h2>
        <h3 id="resultMessage"/>
        <h3>
            <a id="play-again" href="restart">
                Play Again
            </a>
        </h3>
        <h3>
            <a id="home" href="/">
                Home
            </a>
        </h3>

        <footer id="footerId" />
    </div>
</body>
</html>