<!DOCTYPE html>
<html lang="en">
<head id="headId" />
<body>
    <div align="center">
        <h1 id="game-title">Guess the Number Game</h1>
        <h3 id="main-message" />
        <h3 id="result-message"/>

        <form action="play" method="post">
            <label id="enter-guess" for="guess">Enter your guess</label>
            <input type="number" id="guess" name="guess"/>
            <input id="submit" type="submit" value="Submit">
        </form>

        <footer id="footer" />
    </div>
</body>
</html>