<!DOCTYPE html>
<html lang="en">
<head id="headId" />
<body>

    <div class="container">
        <nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>

        <h1 id="game-title">Guess the Number Game</h1>
        <h1 style="font-size: 36px; text-align: center" id="main-message" class="display-6" />
        <div style="text-align: center">
            <h3 id="result-message" style="font-weight: 300"/>

            <form action="play" method="post">
                <div class="col-md-4"; style="margin: 0 auto">
                    <label id="enter-guess" for="guess" class="form-label">Enter your guess</label>
                    <input type="number" class="form-control" id="guess" name="guess" required>
                </div>
                <input id="submit" class="btn btn-success" required type="submit" value="Submit" style="margin-top: 10px">
            </form>
        </div>

        <!--        <footer id="footer" />-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>