#myNavbarId{
    /*background-color: red!important;*/
    margin-bottom: 20px;
}

.questionList{
    margin-top: 20px;
}

.center{
    text-align: center;
}

.logo{
    font-size: 50px!important;
    font-family: 'Alfa Slab One', cursive;
}

.link{
    text-decoration: none;
}

#resultMessage{
    font-size: 20px;
}